/* ------------------------------------------------------------
------------------------Color Palette-------------------------------------------------
----------------------------------------------------------------------------------------  */

/*----------------------------------------------------------------------------------------
-------------------------- Global styles---------------------------------------------------
----------------------------------------------------------------------------------------*/
body {
	font-family: arial;
    font-size: 16px;
    color: black;
    margin: 15px;
}
#tribute-info {
    clear: both;
}


/*--------------------------Header and Footer styles------------------------------------
----------------------------------------------------------------------------------------*/

/* ----------------------Header------------------------------------------------ */
  #title  {
    font-family: arial;
    font-size: 3rem;
    color: purple; 
    float: left; 
    padding: 50px 50px;
    margin: 75px 10px 10px 10px;  
  }

  #image {
      max-width: 100%;
      display: block;
      height: auto;
      align-content: center;
      
  }

  #img-div {
      float: right;
      border: 3px solid black;
      display: block;
      margin: 20px;
      max-width: 255px;    
      
  }
  #img-caption {
      background-color: grey;
      padding: 10px;
      text-align: center;
      margin: 0%;
  }

/* ----------------------FOOTER------------------------------------------------ */
footer {
    text-align: center;
    background-color: gainsboro;
}
/* ----------------------Navigation------------------------------------------------ */


/*---------------------------------------------------------------------------------------- ---------------------------------------Media Queries-------------------------------------
----------------------------------------------------------------------------------------*/