/* ------------------------------------------------------------
------------------------Color Palette-------------------------------------------------
----------------------------------------------------------------------------------------  */

/*----------------------------------------------------------------------------------------
-------------------------- Global styles---------------------------------------------------
----------------------------------------------------------------------------------------*/
body {
	font-family: arial;
    font-size: 16px;
    color: black;
}


/*--------------------------Header and Footer styles------------------------------------
----------------------------------------------------------------------------------------*/

/* ----------------------Header------------------------------------------------ */
        


/* ----------------------FOOTER------------------------------------------------ */

/* ----------------------Navigation------------------------------------------------ */


/*---------------------------------------------------------------------------------------- ---------------------------------------Media Queries-------------------------------------
----------------------------------------------------------------------------------------*/