/* ------------------------------------------------------------
------------------------Color Palette-------------------------------------------------
----------------------------------------------------------------------------------------  */

/*----------------------------------------------------------------------------------------
-------------------------- Global styles---------------------------------------------------
----------------------------------------------------------------------------------------*/
body {
	font-family: arial;
    font-size: 16px;
    color: black;
}
#tribute-info {
    clear: both;
}


/*--------------------------Header and Footer styles------------------------------------
----------------------------------------------------------------------------------------*/

/* ----------------------Header------------------------------------------------ */
  #title  {
    font-family: arial;
    font-size: 3rem;
    color: purple; 
    float: left;  
  }

  #image {
      max-width: 100%;
      display: block;
      height: auto;
      align-content: center;
      
  }

  #img-div {
      float: right;
      border: 3px solid black;
      display: block;
      
      
  }
  #img-caption {
      background-color: grey;
      padding: 10px;
      text-align: center;
      margin: 0%;
  }

/* ----------------------FOOTER------------------------------------------------ */

/* ----------------------Navigation------------------------------------------------ */


/*---------------------------------------------------------------------------------------- ---------------------------------------Media Queries-------------------------------------
----------------------------------------------------------------------------------------*/